################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HealthTracker/HealthTracker.Web/bin/WebGrease.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.WebPages.Razor.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.WebPages.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.WebPages.Deployment.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.Razor.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.Optimization.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.Mvc.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.Http.WebHost.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.Http.dll
/HealthTracker/HealthTracker.Web/bin/System.Web.Helpers.dll
/HealthTracker/HealthTracker.Web/bin/System.Net.Http.Formatting.dll
/HealthTracker/HealthTracker.Web/bin/Owin.dll
/HealthTracker/HealthTracker.Web/bin/Newtonsoft.Json.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Web.Infrastructure.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.Security.Twitter.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.Security.OAuth.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.Security.Google.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.Security.Facebook.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.Security.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.Security.Cookies.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.Host.SystemWeb.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.Owin.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.AspNet.Identity.Owin.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.AspNet.Identity.EntityFramework.dll
/HealthTracker/HealthTracker.Web/bin/Microsoft.AspNet.Identity.Core.dll
/HealthTracker/HealthTracker.Web/bin/EntityFramework.SqlServer.dll
/HealthTracker/HealthTracker.Web/bin/EntityFramework.dll
/HealthTracker/HealthTracker.Web/bin/Antlr3.Runtime.dll
