################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HealthTracker/HealthTracker.Web/bin/WebGrease.dll
